<?xml version='1.0' encoding='UTF-8'?><!DOCTYPE plist PUBLIC '-//Apple//DTD PLIST 1.0//EN' 'http://www.apple.com/DTDs/PropertyList-1.0.dtd'>
<plist version='1.0'>
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://80372w.com1.z0.glb.clouddn.com/6a753d157459acd8140088c4c88f0c44.ipa</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>display-image</string>
						<key>needs-shine</key>
						<true />
						<key>url</key>
						<string>http://www.apicloud.com/icon1/4c/ba/4cba43061abd685ef770215e90489e7f.57x57.png</string>
					</dict>
					<dict>
						<key>kind</key>
						<string>full-size-image</string>
						<key>needs-shine</key>
						<true />
						<key>url</key>
						<string>http://www.apicloud.com/icon1/4c/ba/4cba43061abd685ef770215e90489e7f.57x57.png</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>syjsd.aloud.com</string>
					<key>bundle-version</key>
					<string>0.0.1</string>
					<key>kind</key>
					<string>software</string>
					<key>subtitle</key>
					<string>BTL</string>
					<key>title</key>
					<string>BTL</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
